@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #eee;
}

.supabase-auth-ui_ui-container {
  font-family: "Roboto", sans-serif !important;
}

.supabase-auth-ui_ui-label {
  color: #111 !important;
  text-align: left;
}

.supabase-auth-ui_ui-button {
  background-color: #222 !important;
  border: 0 !important;
  border-radius: 0px !important;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif !important;
}

.supabase-auth-ui_ui-button svg {
  height: 20px !important;
  width: 20px !important;
}

.supabase-auth-ui_ui-input {
  border-radius: 0px !important;
  border-color: #222 !important;
}

.supabase-auth-ui_ui-input::placeholder {
  opacity: 0.9;
}

.supabase-auth-ui_ui-input:focus {
  border: 1px solid #23967f !important;
}

.supabase-auth-ui_ui-anchor {
  color: #111 !important;
}

.card {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  animation-name: pulse;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  100% {
    opacity: 1;
  }
}

.egClass:focus {
  outline: none !important;
}

/* WebKit-based browsers (Chrome, Safari) */
.scroll-edit::-webkit-scrollbar {
  width: 4px;
}

.scroll-edit::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 4px;
}

.scroll-edit::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 4px;
}

/* Firefox */
.scroll-edit {
  scrollbar-width: thin;
  scrollbar-color: #14b8a6 #333;
}

/* Edge and Opera GX */
.scroll-edit::-ms-scrollbar {
  width: 8px;
}

.scroll-edit::-ms-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 4px;
}

.scroll-edit::-ms-scrollbar-track {
  background-color: #333;
  border-radius: 4px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}
